<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - Stock Inventory</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <!-- Navbar -->
  <div class="navbar">
    <div class="navbar-logo">
        <h2>Stock Inventory</h2>
    </div>
    <div class="navbar-menu">
        <ul>
            <li>
                <a href="/home"><i class="fas fa-home"></i><span>Dashboard</span></a>
            </li>
            <li>
                <a href="/inventory"><i class="fas fa-box"></i><span>Inventario</span></a>
            </li>
            <li>
                <a href="/provider"><i class="fas fa-truck"></i><span>Proveedores</span></a>
            </li>
            <li>
                <a href="/users"><i class="fas fa-users"></i><span>Usuarios</span></a>
            </li>
        </ul>
    </div>
</div>


  <!-- Contenido principal de Home -->
  <div class="home-container">
    <div class="header">
      <h2>Abarrotes San Pedro Inventario</h2>
      <div class="icon-container">
        <a href="#" class="icon" id="userIcon"><i class="fas fa-user"></i></a>
        <div class="dropdown" id="userDropdown">
            <a href="login.html" class="dropdown-item">Cerrar Sesión</a>
        </div>
        <a href="notification.html" class="icon"><i class="fas fa-bell"></i></a>
        <a href="#" class="icon"><i class="fas fa-ellipsis-v"></i></a>
      </div>
    </div>
    <p>Desde aquí puedes navegar a las diferentes secciones del sistema usando la barra lateral.</p>
    <p>Selecciona una opción en la barra para comenzar.</p>

    <!-- Cuadros de texto en el centro de la pantalla -->
    <div class="stats-container">
      <div class="stat-box">
        <h3>Entradas Mensuales</h3>
        <p>500</p>
      </div>
      <div class="stat-box">
        <h3>Salidas Mensuales</h3>
        <p>300</p>
      </div>
      <div class="stat-box">
        <h3>Último Proveedor</h3>
        <p>Distribuidora XYZ</p>
      </div>
    </div>

    <!-- Tabla de información urgente -->
    <table class="urgent-stock-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Categoría</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Arroz</td>
          <td>Granos</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Frijoles</td>
          <td>Granos</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Aceite</td>
          <td>Aceites</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="js/home.js"></script>
</body>
</html>
