<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Stock Inventory</title>
    <link rel="stylesheet" href="css/login.css">
    
</head>
<body>
    <div class="login-container">
        <div class="login-left">
            <h1>Stock Inventory</h1>
        </div>
        <div class="login-right">
            <h2>Bienvenido</h2>
            <form action="/api/auth/login" method="POST">
                <input type="text" placeholder="Usuario" name="nombre_usuario" required>
                <div class="password-container">
                    <input type="password" placeholder="Contraseña" name="contrasena" required>
                    <span class="show-password">👁️</span>
                </div>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
</body>
<script>
document.querySelector('.show-password').addEventListener('click', function() {
    const passwordInput = document.querySelector('input[name="contrasena"]');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      this.textContent = '🙈'; // Cambia el ícono a un ojo cerrado
    } else {
      passwordInput.type = 'password';
      this.textContent = '👁️'; // Cambia el ícono a un ojo abierto
    }
  });
  </script>
</html>

