* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.navbar {
    position: fixed;
    width: 60px; /* Ancho inicial solo con iconos */
    background: linear-gradient(180deg, #164A41 0%, #326148 50%, #9DC88D 100%);
    color: white;
    padding-top: 30px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center; /* Alinear elementos al centro */
    overflow: hidden; /* Evita que el contenido exceda la barra */
    transition: width 0.3s ease; /* Transición suave para el ancho */
}


.navbar:hover {
    width: 190px; /* Ancho expandido al pasar el ratón */
}

.navbar-logo h2 {
    color: #FFFFFF;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente aquí */
    margin-bottom: 1em;
    font-weight: 600; /* Peso de la fuente para un texto más estilizado */
    letter-spacing: 1px; /* Espaciado entre letras */
    text-align: center; /* Centrar el título */
}

.navbar:hover .navbar-logo h2 {
    opacity: 1; /* Mostrar el logo al hacer hover */
}

.navbar-menu {
    width: 100%; /* Asegura que el menú ocupe el ancho completo */
}

.navbar-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Margen superior para separarlo del logo */
    text-align: center; /* Centra el contenido dentro del ul */
}

.navbar-menu ul li {
    color: white;
    margin: 20px 0; /* Ajusta el margen para separarlos verticalmente */
    text-decoration: none;
    font-size: 1em; /* Ajusta el tamaño de la fuente aquí */
    display: flex; /* Alinea el ícono y el texto en línea */
    align-items: center; /* Centra verticalmente el contenido */
   margin-left: 20px; /* Centra horizontalmente */
    transition: color 0.3s; /* Suave transición del color */
}

.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: flex; /* Usar flexbox para el icono y el texto */
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Alinear horizontalmente */
    transition: margin-left 0.3s ease; /* Transición para el margen */
}

.navbar-menu ul li span {
    margin-left: 20px; /* Espaciado entre icono y texto */
    opacity: 0; /* Ocultar texto inicialmente */
    transition: opacity 0.3s ease; /* Transición para la opacidad */
}

.navbar:hover ul li span {
    opacity: 1; /* Mostrar el texto al hacer hover */
}

.navbar-menu ul li:hover {
    transition: all 0.3s ease; /* Transición suave al hacer hover sobre el elemento */
}

.navbar-menu ul li a:hover {
    color: #9DC88D; /* Color del icono al hacer hover */
}
/* Nuevo estilo para el botón 'Ir a Home' */
.navbar-home-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.home-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #45a049;
}


.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}