* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navbar {
    width: 200px;
    background: linear-gradient(180deg, #164A41 0%, #326148 50%, #9DC88D 100%);
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-logo h2 {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.navbar-menu ul {
    list-style-type: none;
    padding: 0;
}

.navbar-menu ul li {
    margin: 20px 0;
}

.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-menu ul li a:hover {
    color: #9DC88D;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
