/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow: hidden; /* Evita que aparezca un scroll horizontal por la navbar */

}

/* Configuración general del body */
body {
    display: flex;
    flex-direction: row; /* Coloca la navbar y el contenido principal en línea */
    margin: 0;
    min-height: 100vh; /* Asegura que ocupe toda la altura del viewport */
  }
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Asegura que ocupe toda la altura del viewport */
    width: 60px; /* Ancho fijo inicial */
    background: linear-gradient(180deg, #164A41 0%, #326148 50%, #9DC88D 100%);
    z-index: 1; /* Coloca la navbar detrás del contenido si es necesario */
    transition: width 0.3s ease; /* Efecto suave al expandirla */
     /* Evita que aparezca un scroll horizontal por la navbar */

  }
  
  
  .navbar:hover {
    width: 220px; /* Ancho expandido al pasar el ratón */
  }

  .navbar-logo h2 {
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap; /* Evita que el texto haga salto de línea */
    overflow: hidden; /* Corta cualquier texto que no quepa */
    text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.navbar-menu ul li {
    margin: 20px 0;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Asegura que el contenido esté alineado a la izquierda */
    padding-left: 10px; /* Espacio entre el icono y el texto */
    transition: all 0.3s ease;
    overflow: hidden; /* Evita que los iconos se desborden */
}

.navbar-menu ul li span {
    margin-left: 15px;
    opacity: 0;
    white-space: nowrap; /* Evita saltos de línea */
    overflow: hidden; /* Corta el texto que no quepa */
    transition: opacity 0.3s ease, width 0.3s ease;
}

.navbar:hover ul li span {
    opacity: 1;
}

.navbar-menu ul li:hover {
    transition: all 0.3s ease; /* Transición suave al hacer hover sobre el elemento */
}

.navbar-menu ul li a:hover {
    color: #9DC88D; /* Color del icono al hacer hover */
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}